rewrite /(.*)/index.html$ /index.php?$1 last;
rewrite /(.*)/index(d+).html$ /index.php?$1&page=$2 last;
rewrite /(.*)/a(d+).html$ /index.php?$1/$2 last;
rewrite ^/u/(d+)/(.*)$ /index.php?u&$1&$2 last;
rewrite ^/u/(d+)/(.*)/$ /index.php?u&$1&$2 last;
rewrite ^/u/(d+)$ /index.php?u&$1 last;
rewrite ^/u/(d+)/$ /index.php?u&$1 last;
rewrite /(.*)/index.html?(.*) /index.php?$1&$2 last;
rewrite /(.*)/index(d+).html?(.*) /index.php?$1&page=$2&$2 last;