rewrite /(.*)/index.html$ /index.php?$1;
rewrite /(.*)/index(d+).html$ /index.php?$1&page=$2;
rewrite /(.*)/a(d+).html$ /index.php?$1/$2;
rewrite ^/u/(d+)/(.*)$ /index.php?u&$1&$2;
rewrite ^/u/(d+)/(.*)/$ /index.php?u&$1&$2;
rewrite ^/u/(d+)$ /index.php?u&$1;
rewrite ^/u/(d+)/$ /index.php?u&$1;
rewrite /(.*)/index.html?(.*) /index.php?$1&$2;
rewrite /(.*)/index(d+).html?(.*) /index.php?$1&page=$2&$2;