@charset "utf-8";

html { _background-image: url(about:blank); _background-attachment: fixed; }
.clearfix { clear:both; }
.clear { *zoom:1; display:block; }
.clear:after { display:block; overflow:hidden; clear:both; height:0; font-size:0; visibility:hidden; content:"."; }
.f16 { font-size:16px; }
.padding_middify { padding:20px 0; }

/*面包屑*/
.crumb { padding:20px 0 10px 0; border-bottom:1px solid #DFDFDF; background:url(../images_flat/y_icon_adress.gif) no-repeat left 30px; }
.crumb dl { padding-left:40px; }
.crumb dl dt { font-size:18px; }
.crumb dl dd { font-size:14px; }
.crumb dl dd em { color:#f33b00; }

/*我要投资*/
.sec_menu { margin:20px 0; border-bottom:1px solid #cdcdcd; height:48px; font-size:18px; text-align:center; }
.sec_menu ul { position:relative; top:1px; }
.sec_menu ul li { float:left; margin-right:30px; }
.sec_menu ul li.cur_tab a { height:44px; border-bottom:4px solid #ed1b00; }
.sec_menu ul li a { float:left; display:block; height:48px; line-height:44px; }
.wrap_box { width:992px; background-color:#dfdfdf; padding:4px; }
.search_box { background-color:#FFF; padding-bottom:30px; }
.search_box h3 { height:55px; border-bottom:1px solid #dfdfdf; line-height:55px; text-indent:18px; font-size:20px; font-weight:normal; color:#333; }
.search_box ul { padding-left:30px; }
.search_box ul li { float:left; width:260px; padding-top:25px; }
.search_box ul li.unwidth { width:auto; }
.search_box input,
.search_box select { border:1px solid #abadb3; color:#999; }
.search_box .search_btn { display:block; border:0; background-color:#66c31d; width:100px; height:32px; margin:30px auto 0 auto; line-height:32px; text-align:center; color:#FFF; font-size:16px; font-weight:700; cursor:pointer; }
.info_list { margin-top:20px; width:998px; border:1px solid #dfdfdf; background-color:#FFF; }
.info_list .sort { margin:15px 0; float:left; line-height:22px; }
.info_list .sort strong { float:left; font-size:14px; margin-right:10px; text-indent:12px; }
.info_list .sort a { display:block; float:left; margin-right:10px; width:62px; height:22px; line-height:22px; text-align:center; border:1px solid #dfdfdf; background-color:#f4f4f4; }
.info_list .sort a:hover,
.info_list .sort a.cur_sort { color:#FFF; border:1px solid #ea5e00; background-color:#ea5e00; }
.info_list .show_page { margin:15px 0; float:right; line-height:22px; }
.info_list .show_page em { float:left; margin-right:10px; }
.info_list .show_page a { display:block; margin-right:10px; float:left; width:22px; height:22px; text-align:center; line-height:22px; border:1px solid #dfdfdf; background-color:#f4f4f4; }
.info_list .show_page a:hover,
.info_list .show_page a.cur_show { color:#FFF; border:1px solid #ea5e00; background-color:#ea5e00; }
.info_list .list_title{ clear:both; height:25px; line-height:25px; background-color:#f4f4f4; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; }
.info_list ul li { float:left; }
.info_list .list_con a { color:#000; }
.info_list .list_con a:hover { color:#ea5e00; }
.info_list .list_con em { color:#ea5e00; }
.info_list .list_con { line-height:26px; }
.info_list .list_con ul { border-bottom:1px dashed #dfdfdf; padding:15px 0; }
.info_list .w_1 { width:142px; text-align:center; }
.info_list .w_1 img { width:90px; height:100px; padding:1px; background-color:#FFF; border:1px solid #dfdfdf; }
.info_list .w_2 { width:194px; }
.info_list .w_3 { width:160px; }
.info_list .w_4 { width:224px; }
.info_list .w_5 { width:166px; }
.info_list .w_6 { width:100px; }
.info_list .w_6 a { display:block; margin-top:40px; width:95px; height:27px; line-height:27px; text-align:center; border:1px solid #dfdfdf; }
.info_list .w_6 a:hover { background-color:#ea5e00;  border:1px solid #ea5e00; color:#FFF; }
.info_list .w_6 span { display:block; width:95px; height:27px; text-align:center; line-height:27px; color:#FFF; background-color:#66C31D; margin-top:40px; }
.list_con .progress { position:relative; margin:9px 0px 7px 0px; width:94px; height:10px; line-height:10px; font-size:10px; background-color:#ebebeb; }
.list_con .progress span { display:block; position:absolute; top:0; left:0; background-color:#f33b00; }
.list_con .star { padding:7px 0px 4px 0px; }

/*分页*/
.page { text-align:right; margin:30px 10px 20px 0; }
.page a { margin-left:6px; padding:4px 6px; background-color:#f4f4f4; border:1px solid #dfdfdf; }
.page a:hover,
.page a.cur_page { background-color:#ea5e00; border:1px solid #ea5e00; color:#FFF; }

/*我要贷款*/
.lend_banner { background:#f9f9f9 url(../images_flat/lend_banner.gif) no-repeat right center; padding-top:47px; height:173px; margin-top:20px; }
.lend_banner a { margin-left:16px; }
.path { font-size:18px; }
.path h3 { margin:15px 0 10px 0; font-weight:normal; border-bottom:1px solid #dfdfdf; line-height:32px; }
.path a { display:block; float:left; width:143px; height:34px; line-height:34px; text-align:center; background:url(../images_flat/step_bg_2.gif) no-repeat 0 0; }
.path a.path_reg { color:#FFF; background:url(../images_flat/step_bg_1.gif) no-repeat 0 0; }
.path a.path_last { width:142px; background:#e8e8e8 url(../images_flat/step_bg_3.gif) no-repeat 0 0; _margin-left:-3px; }
.lend_info { margin-top:50px; color:#555; border-bottom:1px solid #dfdfdf; }
.lend_info h4 { padding-bottom:10px; font-size:30px; text-align:center; border-bottom:1px solid #dfdfdf; color:#555; }
.lend_info .title_h1 { margin:20px 0; width:194px; height:30px; line-height:30px; text-indent:24px; background-color:#66c31d; color:#FFF; font-size:16px; }
.lend_info ol { line-height:24px; }
.lend_info dl dt { width:94px; height:30px; text-align:center; line-height:30px; background-color:#505153; color:#FFF; font-size:14px; }
.lend_info dl dd { margin:10px 0; }
.lend_info dl p { line-height:28px; }
.hint { background-color:#fc5f00; margin-top:20px; padding:15px; width:970px; color:#FFF; }

/*工具箱*/
.tool_tab { margin-top:20px; }
.tool_tab ul li { float:left; margin-right:2px; width:150px; height:54px; text-align:center; line-height:54px; font-size:18px; background-color:#6e6f71; color:#FFF; cursor:pointer; }
.tool_tab ul li.cur_tool { background-color:#FFF; color:#555; }
.tool_con { clear:both; background-color:#FFF; }
.tool_con ul { padding:20px; }
.tool_con ul li { padding:10px 0; }
.tool_con input { margin-right:5px; border:1px solid #dbe2e6; width:210px; height:27px; line-height:27px; }
.tool_con select { width:150px; border:1px solid #dfdfdf; }
.tool_con button { padding:4px 40px; border:0; color:#FFF; background-color:#70ca10; font-size:18px; cursor:pointer; }
.tool_con button:hover { background-color:#f33b00; }
.tool_con .prompt { color:#e71c00; border-top:1px solid #dfdfdf; width:96%; margin:0 auto; font-size:14px; padding:20px 0; }

/*帮助中心*/
.help_banner { padding-left:412px; width:588px; background:#FFF url(../images_flat/help_banner.jpg) no-repeat; height:205px; padding-top:15px; margin-top:20px; }
.help_banner a { display:block; }
.help_banner a.mgt17 { margin-top:17px; }
.service_center h3 { font-size:18px; margin:20px 0; font-weight:normal; border-bottom:1px solid #dfdfdf; line-height:32px; }
.service_center em { color:#66c31d; padding:0 10px; }
.service_center ul li { float:left; width:33%; line-height:26px; }
.service_center dl { float:left; width:25%; }
.service_center dl strong { font-size:20px; color:#66c31d; padding:0 10px; }
.service_center dl dt { font-weight:700; font-size:14px; }
.service_center dl dd { line-height:24px; padding-left:34px; color:#666; }

/*悬浮按钮*/
.online_help{ position:fixed; top:100px; right:0; _position:absolute; _top:expression(eval(document.documentElement.scrollTop+100)); width:103px; height:92px; text-indent:-9999px; z-index:999; }
.online_help a { display:block; width:103px; height:92px; background-image:url(../images_flat/help_r.gif); background-position:0 0; }
.online_help a:hover { background-position:0 -92px; }

/*注册or登录*/
.login_box { width:998px; border:1px solid #e9e9e9; background:#FFF url(../images_flat/y_login_bg.gif) no-repeat center bottom; margin-top:30px; padding-bottom:275px; }
.reg_box { width:998px; border:1px solid #e9e9e9; background-color:#FFF; margin-top:30px; padding-bottom:50px; }
.user_info input,
.user_info label,
.user_info select,
.user_info span { float:left; }
.login_info label { width:60px; }
.reg_info label { width:80px; }
.user_info span { margin-left:10px; }
.user_info em { color:#F00; }
.user_info span { color:#999; }
.user_info img { width:50px; height:18px; margin-top:4px; }
.user_info select { margin-top:3px !important; margin-top:0;}
.user_info ul li { height:26px; line-height:26px; }
.user_info ul li { padding:10px 0; }
.user_info ul li.dark span { color:#333; }
.user_info a.blue { color:#06F; }
.user_info a.blue:hover { color:#333; }
.user_info .text { height:23px; line-height:23px; border:1px solid #abadb3; text-indent:8px; }
.user_info .long { width:178px; }
.user_info .short { width:110px; }
.user_info .checkbox { margin-top:7px; margin-top:4px\9; }
.user_info { float:left; width:680px; }
.user_info fieldset { border:0; }
.user_info legend { font-size:22px; color:#ff9534; }
.login_info legend { padding:40px 0; }
.reg_info legend { padding:40px 0 10px 0; }
.user_info form { padding-left:53px; }
.login_box .submit_btn,
.reg_box .submit_btn { display:block; width:150px; height:40px; text-align:center; line-height:40px; font-size:18px; border:0; cursor:pointer; color:#FFF; font-weight:normal;font-family:"Microsoft Yahei"; }
.login_box .login { background-color:#ea5e00; }
.login_box .regist { background-color:#66c31d; font-size:16px; margin-top:10px; }
.reg_box .login { background-color:#66c31d; }
.reg_box .regist { background-color:#ea5e00; font-size:16px; margin-top:10px; }
.reg_progress { margin-top:50px; background-image:url(../images_flat/progress_sp.gif); background-repeat:no-repeat; height:40px; line-height:40px; text-align:center; font-size:18px; color:#666; }
.reg_progress ul li { float:left; width:190px; margin-right:10px; }
.reg_progress ul li.cur_step { color:#FFF; }
.reg_step_one { background-position:0 0; }
.reg_step_two { background-position:0 -50px; }
.reg_step_three { background-position:0 -100px; }
.reg_step_four { background-position:0 -150px; }
.sidebar { float:left; width:200px; margin-top:40px; padding-left:60px; display:inline; border-left:1px solid #ebebeb; font-size:14px; line-height:24px; }
.sidebar dl { margin-top:30px; }
.sidebar dl dt { height:36px; line-height:36px; font-weight:700; text-indent:45px; }
.sidebar dl dt.finan { background:url(../images_flat/y_icon_1.gif) no-repeat left center; }
.sidebar dl dt.loan { background:url(../images_flat/y_icon_2.gif) no-repeat left center; }
.sidebar dl dd { color:#666; }
.user_action_error { color: #FF0000; }

.article_pages ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.article_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:15px;
	margin-right:6px;
}
.article_pages ul li a{
	float:left;
	padding:6px 8px 2px;
	color:#555;
	border:1px solid #EEE;
}
.article_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:6px 8px 1px;
	border:1px solid #690;
}
.article_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	color:#F63;
	padding:6px 8px 1px;
	border:1px solid #F63;
	font-weight:bold;
}
.article_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.article_pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}


/*首页样式*/
.list_1 { overflow:hidden; height:auto; margin-top:10px;}
.list_1 .title {
	line-height:32px;
	padding-left:10px;
	font-weight:bold;
	font-size: 16px;
	color: #666;
	border:1px solid #D9D9D9;
	border-bottom:0;
}
.list_1 .content { background:#FFF; border:1px solid #D9D9D9; border-top:none; padding:10px 10px 0 10px; overflow:hidden; height:auto}
.list_1 .foot {border:1px solid #B2DBFF; border-top:none; height:20px; overflow:hidden; margin-bottom:10px }
.list_1 .ltable td { width:200px; line-height:30px;} 

/*首页样式*/
.list_2 {height:290px; margin-bottom:8px;}
.list_2 .title {background:url(../images/bluebg_247.gif) no-repeat; height:20px; padding:10px 0 0 10px; width:237px;font-size:14px; font-weight:bold; color:#900}
.list_2 .title .titles{
	color:#900;
	font-size:14px;
}
.list_2 .title span { float:right; margin-right:10px; font-weight:normal; margin-top:-2px}
.list_2 .title span a { color:#666666}
.list_2 .content {
	padding:0px 0 5px 10px;
	height:auto;
	width:235px;
	overflow:hidden;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D9D9D9;
	border-right-color: #D9D9D9;
	border-bottom-color: #D9D9D9;
	border-left-color: #D9D9D9;
}
.list_2 .content .li { line-height:25px; background:url(../images/bbs_ico_1.gif) no-repeat 5px 9px; text-align:left; padding-left:15px; }
.list_2 .foot { background:url(../images/list_foot_2.gif) no-repeat; height:22px; overflow:hidden }

/*首页样式*/
.list_invest { overflow:hidden; height:auto; overflow:hidden; height:auto}
.list_invest .title {   font-weight:bold}
.list_invest .title_bg{ text-indent:24px; font-size:14px; font-weight:700; color:#444; height:32px; line-height:32px;}
.list_invest .title span { float:right; margin-right:10px; font-weight:normal}
.list_invest .content {padding:10px 0 5px 10px; height:200px; width:auto; overflow:hidden;}
.list_invest .content li { line-height:25px; text-align:left; padding-left:15px; font-size:12px; }
.list_invest .content_left { margin-right:40px; float:left}
.list_invest .content_right  li{ font-size:13px;}
.list_invest .foot { background:url(../images/list_foot_2.gif) no-repeat; height:22px; overflow:hidden }

.invest_left { float:left; width:500px;}
.invest_right { float:right; width:440px;}

.bg_1 { height:100px; overflow:hidden}
.bg_1 li{ background:url(../images/bg_1.jpg) no-repeat;height:100px; width:100px; float:left;/* line-height:100px;*/ text-align:center; margin-right:13px; margin-left:15px; display:block; padding-top:40px}
.bg_1 li a{ font-size:13px; font-weight:bold}

.list_li_1 {overflow:hidden; height:140px; padding-left:10px;}
.list_li_1 li{ line-height:30px;background:url(../images/bbs_ico_1.gif) no-repeat 0 10px; padding-left:10px;width:48%; float:left; overflow:hidden;  }
.list_li_2 li{ line-height:30px;background:url(../images/bbs_ico_1.gif) no-repeat 0 10px; padding-left:10px;    }
.list_li_3 { margin-top:10px; margin-bottom:10px; }
.list_li_3 .title{
	line-height:32px;
	padding-left:10px;
	font-size:16px;
	font-weight:bold;
	color: #FFF;
	border:1px solid #D9D9D9;
	border-bottom:0;
	background-color:#FA6C00;
}
.list_li_3 .title a { color:#FFF; }
.list_li_3 .title a:hover { color:#FFF; }
.list_li_3 .content{ background:#FFF; border:1px solid #D9D9D9;padding:0 10px 20px 10px; margin-bottom:10px}
.list_li_3 .content .tab1 td{ line-height:30px;}

.module_title { text-align:left;padding:0 5px 0 5px; border-bottom:1px dashed #CCCCCC; line-height:26px;  background:url(images/main_menu_bg.gif); color:#FFFFFF}
.module_title a{color:#FFFFFF}
.module_title span { float:right; font-size:12px;}
.module_title span a { margin-left:5px;}
.module_title span .current{background-color:#FFFFFF; color:#000000; padding:4px 6px 2px 6px; font-weight:bold;font-size:12px;}
.module_border { line-height:27px; height:auto; width:100%; border-bottom:1px dashed #CCCCCC; text-align:left; overflow:hidden}
.module_border .l {  float:left; width:120px;padding:4px 5px 0 0px; text-align:right }
.module_border .w {  float:left; width:200px;padding:4px 5px 0 0px; text-align:right }
.module_border .d {  float:left; width:320px;padding:4px 5px 0 0px; text-align:right }
.module_border .e {  float:left; width:220px;padding:4px 5px 0 0px; text-align:right }
.module_border .c {  padding:4px 5px 3px 10px; float:left; width:200px; overflow:hidden }
.module_border .s {  padding:4px 5px 3px 10px; float:left; width:500px; color: #666666; font-size:12px; }
.module_border .sco {  padding:4px 5px 3px 10px; float:left; width:500px; color: #A7A7A7; font-size:12px;; overflow:hidden  }
.module_border .r {  padding:4px 5px 3px 10px; float:left; width:240px }

.bor { line-height:27px; height:auto; width:100%; text-align:left; overflow:hidden}
.bor .bo_t {  float:left; width:115px; text-align:right;padding:4px 5px 0 0px;padding-left:5px;   }
.bor .bo_c {  padding:4px 5px 3px 5px; float:left; width:175px; }

.module_border .label{ border:1px solid #CCCCCC; padding:3px 18px 2px 5px ; font-size:12px; background:url(../images/arrow_down.gif)  repeat-y right; cursor:pointer; line-height:17px; }
.module_border b { color:#FF0000; font-weight:normal; margin-left:5px;}
.module_border span { font-size:12px;}
.module_submit { text-align:center; margin-top:6px; height:30px;border-bottom:1px solid #CCCCCC}

/**借款**/
.picborder{ border:1px solid #CCCCCC; padding:2px; overflow:hidden; }
.invest {}
.invest_order {background:url(../images/list_bg_1.gif) no-repeat; height:25px; padding:5px 0 0 10px;}
.invest_order  span { margin-right:10px;}
.invest_list {
	border:1px solid #D9D9D9;
}
.invest_list td{ font-size:12px; text-align:left}
.invest_list .title { line-height:30px; text-align:center; font-weight:bold;}
.invest_list .title .tou{ padding-left:50px;}
.invest_list .pic{ border:1px solid #CCCCCC; width:100px; height:100px; overflow:hidden; padding-top:2px; margin-left:13px; text-align:center}
.invest_list .title td{ border-bottom:1px dashed #CCCCCC;}
.invest_list .tr1 { text-align:center }
.invest_list .tr1 td{ padding:10px 0 10px 0 ;   margin:0 auto; text-align:left;border-bottom:1px dashed #CCCCCC; }

.invest_list .li .cu { font-weight:bold; height:28px;}
.invest_list .li li{ line-height:25px; text-align:left; font-size:12px;}
.invest_list .li .jindu{ width:170px; height:18px; overflow:hidden; border:1px solid #7CC1F0}
.invest_list .tr2 { text-align:center; padding:2px; }
.invest_list .tr2 td{ padding:10px 0 10px 0 ; background-color:#F5F5F5;   margin:0 auto; text-align:left;border-bottom:1px dashed #CCCCCC; }

.invest_content { margin-top:10px;}
.invest_content .title{
	background:url(../images/invest_c_1.gif);
	height:49px;
	width:980px;
	color: #900;
}
.invest_content .content{ background:url(../images/invest_c_2.gif); height:auto; width:980px; overflow:hidden   }
.invest_content .foot{ background:url(../images/invest_c_3.gif); height:10px; overflow:hidden; width:980px;   }
.invest_content .info{ float:left; width:210px; height:320px; text-align:center    }
.invest_content .info_a{ margin-left:30px; text-align:left; line-height:25px; color: #666666; margin-top:5px;   }
.invest_content .con{ float:left; width:510px; height:320px; overflow:hidden; margin-left:20px; }
.invest_content .con_1 { border-bottom:1px dashed #CCCCCC; overflow:hidden }
.invest_content .con_1 li{ line-height:30px;}
.invest_content .con_1 li span{ width:200px; display:block; float:left}
.invest_content .con_3 { line-height:30px;}
.invest_content .con_2 { border-bottom:1px dashed #CCCCCC; overflow:hidden; text-align:center; line-height:10px;height:70px; margin-top:10px; }
.invest_content .lian{ float:left; width:200px; height:320px; overflow:hidden ; margin-left:30px; margin-top:10px;   }
.invest_content .lian li { height:30px; line-height:30px;}
.invest_content .title .user { font-weight:bold; font-size:14px; text-align:center; width:210px; float:left; line-height:45px; }
.invest_content .title .tit { font-weight:bold; font-size:14px; text-align:left; width:210px; float:left; line-height:45px; margin-left:20px; }
.index_log_bg { float:right; width:285px; height: 207px;background:url(../images/index_log_bg.gif); }
.index_log { margin-top:10px;}
.index_log_left { float:left; width:700px; height: 224px;background:url(../images/index_log.jpg); }
.index_log_right { float:right; width:242px; height: 224px;background:url(../images/index_log_in.jpg); }

.index_main_left { width:250px; height:auto; float:left; overflow:hidden}
.index_main_right { width:720px;  float:right; }
.index_main_content { border:1px solid #D9D9D9; padding-left:8px; height:600px; width:710px;padding-bottom:15px; overflow:hidden; border-top:none}
.index_button { background:url(../images/bluebg_720.gif)}
/*按钮*/
.index_button{height:30px; overflow:hidden; width:100%}
.index_button .no { float:left; width:auto; overflow:hidden; margin-right:10px; margin-top:3px;}
.index_button .no .l{  width:10px; height:10px; float:left;height:29px;}
.index_button .no .r{ width:auto;; height:29px; float:left; padding:0px 30px 0px 0 }
.index_button .no .r span{ margin-top:8px; display:block; font-size:13px; font-weight:bold}
.index_button .yes { float:left; width:auto; overflow:hidden;margin-right:10px;}
.index_button .yes .l{ width:8px; height:10px; float:left;height:31px;}
.index_button .yes .r{ width:auto;; height:31px; float:left; padding:0px 36px 0px 0 }
.index_button .yes .r span{ margin-top:8px; display:block; font-size:15px; font-weight:bold}
.index_button .yes .r a{
	color:#900;
	font-size: 14px;
}


.index_list { width:290px; float:left; padding-left:2px; margin:10px 10px 0px 10px; overflow:hidden; height:110px;}
.index_list .pic{ float:left; padding:2px; border:1px solid #CCCCCC; width:85px; }
.index_list .text { float:left}
.index_list .text li{ line-height:23px; margin-left:10px;}

.index_list1 { width:228px; float:left; height:71px; padding-left:2px; margin:10px 0px 0px 0px; overflow:hidden;border-bottom:1px dashed #CCCCCC}
.index_list1 .pic{ float:left;  width:70px; }
.index_list1 .text { float:left; width:150px}

.index_list1 .text li{ line-height:23px; margin-left:10px; }

/*按钮*/
.button{ margin-top:10px; border-bottom:3px solid #FF8902; height:31px; overflow:hidden; width:100%}
.button .no { float:left; width:auto; overflow:hidden; margin-right:10px; margin-top:3px;}
.button .no .l{ background:url(../images/button_no_left.jpg); width:10px; height:10px; float:left;height:29px;}
.button .no .r{ background:url(../images/button_no_right.gif) right; width:auto;; height:29px; float:left; padding:0px 10px 0px 0 }
.button .no .r span{ margin-top:8px; display:block; font-size:13px; font-weight:bold}
.button .yes { float:left; width:auto; overflow:hidden;margin-right:10px;}
.button .yes .l{ background:url(../images/button_yes_left.jpg); width:8px; height:10px; float:left;height:31px;}
.button .yes .r{ background:url(../images/button_yes_right.gif) right; width:auto;; height:31px; float:left; padding:0px 10px 0px 0 }
.button .yes .r span{ margin-top:8px; display:block; font-size:15px; font-weight:bold}
.button .yes .r a{ color:#FFFFFF}
.sure { margin-left:120px; padding:5px 10px; border:0; background:#66C31D; color:#FFF; cursor:pointer; }
.reset { padding:5px 10px; border:0; background:#EA5E00; color:#FFF; cursor:pointer; }

/*内容*/
.main_left { float:left; width:740px; height:auto; overflow:hidden}
.main_right { float:right; width:255px; height:auto; overflow:hidden}
.article_content {border:1px solid #CCCCCC;border-top:none; background:#FFF; overflow:hidden;   }
.content_title { background:url(../images/list_bg.jpg); height:35px; border:1px solid #D1D1D1; border-bottom:none; padding:8px 0 0 10px; font-size:16px; font-weight:bold}


.content_pages{ border-top:1px dashed #CCCCCC; width:660px; margin:0 auto; height:47px; padding:10px 0 5px 0; overflow:hidden;  }
.content_pages span { margin-bottom:8px; display:block;}
.content_h3 h3{ text-align:center;padding:10px; font-size: medium; font-weight:bold }
.content_div { border:1px solid #CCCCCC; background-color:#F2F2F2; width:640px; height:25px; margin:0 auto; margin-bottom:5px;  line-height:26px; padding-left:20px;}
.content_div1 { border:1px solid #CCCCCC; background-color:#F2F2F2; width:650px; height:20px; margin:0 auto; margin-bottom:5px;  padding-left:10px; font-size:12px;font-weight:bold;  padding-top:6px;}
.content_div1 span { font-weight:normal; margin-right:5px;}
.content_ro { width:650px; ; line-height:22px; font-size:13px; margin:0 auto; padding:0px 0 5px 10px;}
.content_coli { border-bottom:1px dashed #CCCCCC; height:20px; width:660px; margin:0 auto; margin-bottom:5px;}
.content_coli ul {padding-left:10px;}
.content_coli li { float:left; line-height:15px; width:320px; }
.content_pages{ border-top:1px dashed #CCCCCC; width:660px; margin:0 auto; height:47px; padding:10px 0 5px 0; overflow:hidden;  }
.content_pages span { margin-bottom:8px; display:block;}
.content_pic{ width:660px; ; line-height:22px; font-size:12px; margin:0 auto; padding:4px 0 5px 0px;}
.content_pic li { float:left;  margin-right:12px; text-align:center}
.content_pic div { border:1px solid #CCCCCC; padding:3px; width:80px; height:80px; text-align:center}
.content_list { height:auto; overflow:hidden; width:100%;}

.list_content_main_0{}
.list_content_main_0 .title { height:35px; border:1px solid #D1D1D1; border-bottom:none; padding:8px 0 0 10px; font-size:16px; font-weight:bold; color:#666;}
.list_content_main_0 .content { background:#FFF; border:1px solid #CCCCCC; border-top:0; line-height:28px; padding:20px 10px 0px 10px;}
.list_content_main_0 .kefu_li li{  height:25px}

.list_content_main_1{}
.list_content_main_1 .title { background:url(../images/list_content_main_title.jpg); height:25px; padding:8px 0 0 10px; font-size:14px; font-weight:bold; overflow:hidden}
.list_content_main_1 .title  span { float:right; font-size:13px; font-weight:normal; margin-right:10px;}
.list_content_main_1 .content { border:1px solid #DCDCDC; border-top:none; border-bottom:none;  width:auto; height:auto;overflow:hidden; }
.list_content_main_1 .content ul { padding:5px 10px; line-height:23px;}
.list_content_main_1 .content .li1 { overflow:hidden; height:120px; border-bottom:1px dashed #CCCCCC; padding-bottom:10px;padding-top:10px; }
.list_content_main_1 .content .li1 .cleft { float:left; overflow:hidden; margin-right:9px; text-align:center; line-height:40px;}
.list_content_main_1 .content .li1 .cright { height:120px;} 
.list_content_main_1 .content .li1 .cright .cright0{ height:auto; overflow:hidden; width:auto}
.list_content_main_1 .content .li1 .cright .cright1{ float:left; width:250px;}
.list_content_main_1 .content .li1 .cright .cright2{ float:left; width:170px;}
.list_content_main_1 .content .li1 .cright .cright3{ background-color: #FDFCDF; line-height:25px;}
.list_content_main_1 .content .li1 .cright .cright4{ float:left; width:170px;}
.list_content_main_1 .content .li1 .cright .cright5{ float:left; width:170px;}
.list_content_main_1 .foot {background:url(../images/list_content_main_foot.jpg) no-repeat; height:8px; overflow:hidden; width:100% }

.list_content_main_2 .title span { float:right; font-weight:normal; margin-right:10px; font-size:12px; margin-top:2px;}
.list_content_main_2 .title {
	height:33px;
	line-height:33px;
	text-indent:12px;
	border:1px solid #D1D1D1;
	border-bottom:none;
	font-size:16px;
	font-weight:bold;
	color:#666;
}
.list_content_main_2 .content {border:1px solid #CCCCCC;border-top:none; background:#FFF; overflow:hidden; line-height:22px;  padding:10px;}

.list_content_main_3{}
.list_content_main_3 .title span { float:right; font-weight:normal; margin-right:10px; font-size:12px; margin-top:2px;}
.list_content_main_3 .title {
	background:url(../images/list_bg.jpg);
	height:23px;
	border:1px solid #CCCCCC;
	padding:8px 0 0 10px;
	font-size:14px;
	font-weight:bold;
	color: #900;
}
.list_content_main_3 .content {border:1px solid #CCCCCC;border-top:none; width:auto; height:179px;  padding:5px 10px; padding-left:10px;}
.list_content_main_3 ul { overflow:hidden; height:auto; width:auto;margin-bottom:0px;* margin-bottom:20px;  line-height:26px; }
.list_content_main_3 li{ padding-left:10px; width:283px; margin-right:20px;  float:left;background:url(../images/ico_1.gif) 0 7px no-repeat;}
.list_content_main_3 li span{ float:right; font-size:12px; color:#999999}
.liuyan td{ padding:10px 0; }

.list_content_main_4{float:left;  width:247px; margin-right:10px; height:205px; }
.list_content_main_4 .title  { padding:0px; }
.list_content_main_4 .title span { float:right; font-weight:normal; margin-right:10px; font-size:12px; margin-top:-2px;}
.list_content_main_4 .title span a{ color:#666666; text-decoration:none}
.list_content_main_4 .titles {
	background:url(../images/bluebg_247.gif) no-repeat;
	height:20px;
	width:237px;
	font-size:14px;
	font-weight:bold;
	color:#900;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}
.list_content_main_4 .content {
	width:225px;
	height:auto;
	overflow:hidden;
	line-height:24px;
	padding:0px 10px 5px 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D9D9D9;
	border-right-color: #D9D9D9;
	border-bottom-color: #D9D9D9;
	border-left-color: #D9D9D9;
}
.list_content_main_4 .content li { padding-left:10px; background:url(../images/ico_1.gif) no-repeat 0 7px;}
.list_content_main_5{ border:1px solid #D9D9D9;  padding:2px; height:201px; overflow:hidden}

/*列表样式*/
.list_li{ padding:0 10px; margin:10px 0;}
.list_li div { background:url(../images/list_news_bg.gif); height:25px; padding-top:7px;}
.list_li h3{ background:url(../images/bbs_ico_h3.gif) no-repeat 5px 2px;  width:145px; padding-left:20px; font-size:13px; font-weight:bold }
.list_li span { float:right; margin-right:15px; color:#999;}
.list_li ul{  width:230px; margin: 0 auto; margin-bottom:8px; }
.list_li li { line-height:34px; border-bottom:1px #EFEFEF dashed; padding-left:0px; font-size:13px; }
.list_li a { color: }

.list_4{border:1px solid #1795DC; float:left;  width:247px; margin-right:10px; height:auto; overflow:hidden}
.list_4 .title  { padding:1px; }
.list_4 .title span { float:right; font-weight:normal; margin-right:10px; font-size:12px; margin-top:2px;}
.list_4 .title span a{ color:#FFFFFF}
.list_4 .titles { background:url(../images/list_content_list_bg_4.gif); height:21px; border-bottom:none; padding:5px 0 0 10px; font-size:13px; font-weight:bold; color:#FFFFFF}
.list_4 .content {border-top:none; width:auto; height:auto; overflow:hidden; line-height:25px;  padding:5px  10px;}
.list_4 .content li { padding-left:10px; background:url(../images/ico_1.gif) no-repeat 0 7px;}
.list_table_page td,.table_page td{color:#282828;text-align: left;text-align: left;background:none;}

.table_page td{padding:3px;}
.list_table_page { padding:5px; margin:0 auto; margin-bottom:10px;margin-top:10px;}
.list_table_page td a,.table_page td a{display: inline-block;height: 16px;line-height: 16px;text-align: center;border: 1px solid #C3C3C3;color: #4C4C4C;text-decoration: none;background-color: #FFFFFF;padding-right: 5px;padding-left: 5px;}
.list_table_page td a:hover,.list_table_page td span.this_page,.table_page td a:hover,.table_page td span.this_page{color: #FFFFFF;background-color: #4C4C4C;border: 1px solid #000;display: inline-block;height: 16px;line-height: 16px;text-align: center;padding-right: 5px;padding-left: 5px;}
.list_table_page td .page_line,.table_page td .page_line{color: #CCC;display: inline-block;padding-right: 2px;padding-left: 2px;}
.list_table_page td .page_go,.table_page td .page_go{color: #999;display: inline-block;}
.list_table_page td #page_text,.table_page td #page_text{color: #4C4C4C;line-height: 14px;height: 14px;width:32px;border: 1px solid #C3C3C3;margin-right: 3px;margin-left: 3px;}
.list_table_page td span.no_page,.table_page td span.no_page{color: #ccc;background-color: #fff;border: 1px solid #CDCDCD;display: inline-block;height: 16px;line-height: 16px;text-align: center;padding-right: 5px;padding-left: 5px;}
/*基本样式*/
.list_news{ width:245px;border:1px solid #CECECE; float:right; margin-bottom:10px;}
.list_news div { background:url(../images/list_news_bg.gif); height:25px; padding-top:7px;}
.list_news h3{  width:145px; font-size:14px; font-weight:bold }
.list_news h3 em { margin:0 6px; color:#666; }
.list_news span { float:right; margin-right:5px;}
.list_news ul{ background:#FFF; padding:10px 0; }
.list_news li { background:url(../images/ico_1.gif) no-repeat 0 10px; line-height:28px; border-bottom:1px #999999 dashed; padding-left:14px; overflow:hidden ; height:28px;}


/*用户评论*/
.content_pinglun { margin:0 auto; width:650px;}
.content_pinglun textarea { width:640px; margin-bottom:10px; } 
.content_pinglun div{
	margin-bottom:10px;
	width:100%;
	font-size:14px;
	font-weight:bold;
	color:#900;
	overflow:hidden;
	height:auto;
}
.content_pinglun span{ margin-right:25px;}
.content_pinglun textarea{float:left;width:617px;height:80px;padding:2px;border:1px solid #DCDCDC;}
.content_pinglun input{display:inline}
.content_pinglun dl{color:#666;clear:both;}
.content_pinglun dl dt{color:#555;font-weight:bold;}
.content_pinglun dl dd{margin-left:1em;line-height:22px;list-style:decimal;}
/*表格*/
.list_content_tr1 td{ line-height:50px;  background-color: #FFFFFF; text-align:center}
/*评论内容*/
.pinglun_co { padding-bottom:10px;  }
.pinglun_co li{ border-bottom:1px dashed #CCCCCC;overflow:hidden;margin:10px 15px;}
.pinglun_co_left { float:left; width:80px; font-size:12px; text-align:center; line-height:20px;}
.pinglun_list li{ border-bottom:1px dashed #CCCCCC; margin-bottom:10px;overflow:hidden;margin:0 auto; ma }
.pinglun_co_pic { border:1px solid #CCCCCC; padding:2px; text-align:center; width:73px; height:73px;}
.pinglun_co_content {  border:1px solid #FFCC99; float:left; height:auto; width:520px; padding:5px; background-color:#FFFCF0; color: #666666; line-height:25px; }

/*协议书*/
.protocol {}
.protocol .title{ font-size:20px; font-weight:bold; text-align:center; line-height:60px;}
.protocol .but{ font-size:13px; background-color: #F6F6F6; border:1px solid #CCCCCC; text-align:center; line-height:28px;}
.protocol .xieyi{ font-size:13px; background-color:#FFF4DB; border-bottom:1px solid #FFD675; padding-left:10px; margin-top:15px; text-align:left; line-height:28px; margin-bottom:9px;}
.protocol .content{ line-height:25px;}

/*论坛样式*/
.container_0{width:980px; margin:auto; border-collapse:collapse;margin-top:6px;}
.container_0 .topleft{background:url('../images/bbs_bg_elc.png') 0px 0px; width:10px;overflow:hidden;height:10px;margin:0px; padding:0px;}
.container_0 .topcenter{background:url('../images/bbs_bg_elc.png') 0px -35px;margin:0px; padding:0px;}
.container_0 .topright{background:url('../images/bbs_bg_elc.png') -10px 0px; width:10px;overflow:hidden;margin:0px; padding:0px;}
.container_0 .middleleft{background:url('../images/bbs_bg_elc1.png') 0px 0px repeat-y; width:10px;overflow:hidden;margin:0px; padding:0px;}
.container_0 .middlecenter{background:#FFF;margin:0px; padding:0px;}
.container_0 .middleright{background:url('../images/bbs_bg_elc1.png') -10px 0px repeat-y; width:10px;overflow:hidden;margin:0px; padding:0px;}
.container_0 .bottomleft{background:url('../images/bbs_bg_elc.png') 0px -140px; width:10px;overflow:hidden;height:10px;margin:0px; padding:0px;}
.container_0 .bottomcenter{background:url('../images/bbs_bg_elc.png') 0px -101px;margin:0px; padding:0px;}
.container_0 .bottomright{background:url('../images/bbs_bg_elc.png') -10px -140px; width:10px;overflow:hidden;margin:0px; padding:0px;}
.div_out_inner{background:#FFF;}
.div_out_inner_nobg{}
.div_clear{overflow:hidden;clear:both;height:0px;}
.bbs_position{height:35px;line-height:35px;margin:0px 10px;color:#222; background:url('../images/bbs_home.gif') no-repeat center left; text-indent:20px; font-size:13px;}
.bbs_position span{color:#666666;}
.bbs_position a:link,.bbs_position a:hover,.bbs_position a:visited,.bbs_position a:active{color:#222; font-size:12px;}

.bbs_static_out{float:right;}
.bbs_static_out ul,.static_out li{list-style:none;margin:0px; padding:0px;}
.bbs_static_out li{float:left;display:block; border-right:1px solid #DDDDDD; color:#333; padding:2px 10px;}
.bbs_static_out li em{display:block;font-style:normal; margin-top:5px; color:#666;}

.bbs_folder_0{background:url('../images/bbs_bg_folder_0.gif') no-repeat center left;padding-left:18px;cursor:pointer;}
.bbs_folder_1{background:url('../images/bbs_bg_folder_1.gif') no-repeat center left;padding-left:18px;cursor:pointer;}

.bbs_index_forum .title{height:35px;width:100%;color:#FFF; background-color:#FC7B00;font-size:16px;font-weight:bold;border-collapse:collapse; text-align:center; margin-bottom:20px;}
.bbs_index_forum .title .left{width:6px;padding:0px;}
.bbs_index_forum .title .right{width:6px;padding:0px;}
.bbs_index_fourm_out{}
.bbs_index_forum_1{color:#FFF;font-weight:bold;height:33px;line-height:33px;text-indent:10px;clear:both; border-bottom:2px solid #66C31D; color:#505153;}
.bbs_index_forum_2{clear:both; margin-bottom:10px;}

.bbs_index_else .title{height:35px;width:100%;color:#FFF; background-color:#FC7B00;font-size:16px;font-weight:bold;border-collapse:collapse; text-align:center; margin-bottom:20px;}
.bbs_index_else .title .left{width:6px;padding:0px; }
.bbs_index_else .title .right{width:6px;overflow:hidden;padding:0px;}
.bbs_index_else_out{}

.index_forum .title{height:35px;width:100%;color:#005EAA; background:url('images/bg_title1.gif');font-weight:bold;border-collapse:collapse;}
.index_forum .title .left{width:6px;padding:0px;}
.index_forum .title .right{width:6px;padding:0px;}
.index_fourm_out{}
.index_forum_1{color:#000;font-weight:bold;height:33px;line-height:33px;text-indent:10px;clear:both; background:#D0E0FD url('images/bg_forumtitle.gif');}
.index_forum_2{clear:both; margin-bottom:6px;}
.bbs_index_a3 {color:#666666;line-height:180%;width:100%;border-collapse:collapse;border-bottom:1px dotted #dedede; margin:10px 0;}
.bbs_index_a3 td{ padding:4px;}
.bbs_index_a3_0{width:40px;text-align:center;}
.bbs_index_a3_0 img{max-width:40px;max-height:60px;}
.bbs_index_a3 .topicsnum{color:#FC7B00;}
.bbs_index_a3_1{width:460px;}
.bbs_index_a3_1 b{font-size:12px;}
.bbs_index_a3_1 b a:link,.index_a3_1 b a:active,.index_a3_1 b a:visited{color:#333;}
.bbs_index_a3_1 b a:hover{color:#000;} 
.bbs_index_a3_1 .today{color:#F08400;font-size:12px;}
.bbs_index_a3_1 p{margin:0px;}

.bbs_index_a4{color:#666666;height:30px;line-height:30px;text-indent:10px;border-bottom:2px solid #66C31D;clear:both;}
.bbs_index_a4 a{color:#222;}
.bbs_index_a5{padding:6px 10px;}
.bbs_index_a5_online{padding:10px; border-top:1px dotted #E0E0E0;  }
.bbs_index_a5_online ul, .bbs_index_a5_online li{list-style:none; padding:0px; margin:0px;}
.bbs_index_a5_online li{display:block; width:150px; height:28px; float:left; overflow:hidden;}
.bbs_index_a6 img{width:88px;height:31px;margin:5px 0px 5px 8px;}
.bbs_index_a7{padding:0px 10px;}
.bbs_index_a7 p{width:94px;height:20px;line-height:20px;display:block;float:left;overflow:hidden;margin:0px;}
.bbs_index_a7 p a:link, .index_a7 p a:visited, .index_a7 p a:active, .index_a7 p a:hover{color:#666666;}

/*帖子列表*/
.bbs_forum_top{width:100%;}
.bbs_forum_top .rss{background:url('../images/bbs_ico_rss.gif') no-repeat center left; padding-left:16px;}
.bbs_forum_top .rss:link,.bbs_forum_top .rss:active,.bbs_forum_top .rss:visited, .bbs_forum_top .rss:hover{color:#FFF; font-weight:bold; font-size:14px; float:right;}
.bbs_forum_top .title span a{color:#005EAA; font-size:14px;font-weight:bold;}
.bbs_forum_top .title{height:35px;width:100%;color:#FFF; background-color:#FC7B00;font-size:14px;font-weight:bold;border-collapse:collapse; margin-bottom:10px;}
.bbs_forum_top .title b{color:#056AA0;}
.bbs_forum_top .title .left{width:6px;padding:0px;}
.bbs_forum_top .title .right{width:6px;padding:0px;}

.bbs_forum_admins{height:30px;line-height:30px;text-indent:10px; border-bottom:1px solid #dfdfdf; margin-bottom:10px;}
.bbs_forum_admins b{color:#333333;}

.bbs_forum_t{color:#333333;font-weight:bold;height:30px;line-height:30px;text-indent:10px; border-bottom:1px dotted #E0E0E0; }
.bbs_forum_rules{line-height:150%;padding:5px 10px;}
.rulestextarea{width:930px;height:80px;}
.bbs_forum_post .post{width:100%; margin:auto;border-collapse:collapse;height:40px; margin:10px 0;}
.bbs_forum_post .post .left{width:400px;}
.bbs_forum_post .post .right table{float:right;}
.bbs_forum_a1{width:100%; margin:auto; border-collapse:collapse;}
.bbs_forum_a1 td{border-bottom:1px dotted #ccc;padding:2px 5px; line-height:140%;}
.bbs_forum_a1 .title{font-size:14px;}
.bbs_forum_a1 .isresolved{font-size:12px;color:green;}
.bbs_forum_a1 a:link, .forum_a1 a:visited, .forum_a1 a:active{color:#000000;}
.bbs_forum_a1 a:hover{color:#056AA0;}
.bbs_forum_a1 thead{color:#333333;color:#000; border-bottom:2px solid #66C31D;}
.bbs_forum_a1 thead td{padding:5px 5px;}
.bbs_forum_a1 thead a:link, .forum_a1 thead a:visited, .forum_a1 thead a:active, .forum_a1 thead a:hover{color:#F73809;}
.bbs_forum_a1 .time{font-size:11px; font-family:Arial; color:#666666;}
.bbs_forum_a1 .reply{color:#F08400;}
.bbs_forum_adminlink a:link, .forum_adminlink a:visited, .forum_adminlink a:active, .forum_adminlink a:hover{color:#056AA0;font-weight:bold;}
.bbs_forum_split{background:#F5F5F5;color:#666666; }
.bbs_forum_split td{padding:5px;}
.bbs_forum_smallpager a{padding:3px;font-size:11px;}

.bbs_star_img{height:22px;display:block;padding-top:4px; cursor:pointer;}
.bbs_star_img i{display:inline-block;height:16px;width:16px;background:url('../../images/ico_star.gif');}
.bbs_star_img .star_1{background-position:-32px 0px;}
.bbs_star_img .star_2{background-position:-16px 0px;}
.bbs_star_img .star_4{background-position:0px 0px;}

.bbs_view_top{}
.bbs_view_top .topictitle{height:35px;width:100%;color:#005EAA; background:url('images/bg_title1.gif');font-weight:bold;border-collapse:collapse;}
.bbs_view_top .topictitle .left{width:6px;padding:0px;}
.bbs_view_top .topictitle .right{width:6px;padding:0px;}
.bbs_view_top_out1{width:100%; margin:auto;}
.bbs_view_top_out{}
.bbs_view_h{height:30px;line-height:30px;text-indent:10px;border-bottom:1px dotted #E0E0E0;}
.bbs_view_h b{color:#056AA0;}
.bbs_view_btn .post{width:100%;}
.bbs_view_btn .post .left{width:200px;}
.bbs_view_btn .post .right table{float:right;}
.bbs_view_h a:link,.bbs_view_h a:active,.bbs_view_h a:visited,.bbs_view_h a:hover{color:#056AA0;}
.bbs_view_h .adminstr{color:#96A2A9;}

.bbs_view_stamp{position:relative;width:114px;height:68px;margin-top:-70px;top:30px;left:550px;overflow:hidden;}
.bbs_view_reply{border-top:1px solid #E8EBFF;}
.bbs_view_reply table{width:100%;}
.bbs_view_quote_out{background:#F5F5F5;padding:5px 10px;width:670px;}
.bbs_view_quote{margin:10px 0;padding:0 0 0 40px;border:none;background:url('../images/bbs_ico_quote_left.gif') no-repeat 0 0;}
.bbs_view_quote blockquote{margin:0;padding:0 20px 0 0;background:url('../images/bbs_ico_quote_right.gif') no-repeat 100% 100%;line-height:1.6em;color:#333333;text-decoration:none;width:600px;}
.bbs_view_quote .quote_title{display:none;}
.bbs_view_hide, .bbs_view_nohide{border:1px dotted #c0c0c0;border-left:0px;border-right:0px;}
.bbs_view_hide .hidetitle{padding:2px 2px 2px 20px;background:url('../images/bbs_ico_lock.gif') no-repeat center left;font-size:12px;color:#333333;margin:0px;font-weight:bold;}
.bbs_view_nohide .hidetitle{padding:2px 2px 2px 20px;background:url('../images/bbs_ico_unlock.gif') no-repeat center left;font-size:12px;color:#333333;margin:0px;font-weight:bold;}
.bbs_view_hide .hidecontent,.bbs_view_nohide .hidecontent{padding:4px;margin:0px;}

.bbs_view_a1{vertical-align:top;background:#f2f2f2; border-right:1px solid #dfdfdf; width:170px;}
.bbs_view_a1 .author:link,.bbs_view_a1 .author:active,.bbs_view_a1 .author:visited,.bbs_view_a1 .author:hover{color:#056AA0;font-weight:bold;}
.bbs_view_a1 div{margin-left:15px;}
.bbs_view_a1 img{margin-bottom:5px;margin-top:8px;}
.bbs_view_a1 .userpic{width:99px;height:120px;border:1px solid #c0c0c0;}
.bbs_view_a1 .namemsg{height:20px;margin:0px; padding:0px; clear:both;}
.bbs_view_a1 .name{font-weight:bold; float:left; line-height:20px;}
.bbs_view_a1 .name:link, .bbs_view_a1 .name:active, .bbs_view_a1 .name:visited, .bbs_view_a1 .name:hover{color:#056AA0;}
.bbs_view_a1 .writemsg{background:url('../images/bbs_ico_writemsg.gif') no-repeat center center;margin-left:5px; float:left; display:block; width:16px; height:20px;}

.bbs_view_a2{vertical-align:top;background:#FFFFFF; padding-top:5px;}
.bbs_view_a2 .author{width:84%;margin:auto;height:20px;padding:4px 0px 4px 4px;border-bottom:1px dotted #E6E7E1;color:#333333;float:left;}
.bbs_view_a2 .author .sex0{background:url('../images/bbs_icon_sex0.gif') no-repeat center left;padding-left:18px;}
.bbs_view_a2 .author .sex1{background:url('../images/bbs_icon_sex1.gif') no-repeat center left;padding-left:18px;}
.bbs_view_a2 .author .name:link,.bbs_view_a2 .author .name:active,.bbs_view_a2 .author .name:visited,.bbs_view_a2 .author .name:hover{color:#056AA0;}
.bbs_view_a2 .title1{width:96%;margin:10px auto 10px auto;;line-height:180%;font-size:16px;color:#333;font-weight:bold;clear:both;}
.bbs_view_a2 .content{width:96%;margin:auto; line-height:180%;font-size:14px;color:#333333;margin-bottom:30px;}
.bbs_view_a2 .content a:link,.bbs_view_a2 .content a:active,.bbs_view_a2 .content a:visited,.bbs_view_a2 .content a:hover{color:#056AA0;}
.bbs_view_a2 .edittips{color:#666666;text-align:right; margin-right:30px;}
.bbs_view_a2 .floor{width:15%;height:20px;padding:4px 0px;border-bottom:1px dotted #E6E7E1;color:#333333;float:left;text-align:right;font-size:11px;font-weight:bold;}
.bbs_view_a2 .floor a:link,.bbs_view_a2 .floor a:active,.bbs_view_a2 .floor a:visited{color:#ff6600;padding:2px;border:1px solid #fff;text-decoration:none;}
.bbs_view_a2 .floor a:hover{color:#ff6600;padding:2px;border:1px solid #ff6600;text-decoration:none;}
.bbs_view_a3{width:160px;display:block;margin:0px;color:#444444;}
.bbs_view_a3 dt{float:left;width:30px;height:20px;overflow:hidden;margin:0px; }
.bbs_view_a3 dd{float:left;width:100px;height:20px;overflow:hidden;margin:0px;}
.bbs_view_a4{width:100%;border-collapse:collapse; border-top:2px solid #999;}
.bbs_view_a5{background:#999;height:2px; overflow:hidden;}
.bbs_view_a6{background:#999;height:2px; overflow:hidden;}
.bbs_view_a7 div{width:98%;margin:auto;height:28px;line-height:28px;border-top:1px dotted #E6E7E1;color:#333333;}
.bbs_view_a7 .reply{display:block;width:60px;height:35px;line-height:35px;background:url('../images/bbs_ico_fastreply.gif') center left no-repeat;float:left;text-indent:22px;}
.bbs_view_a7 .quote{display:block;width:60px;height:35px;line-height:35px;background:url('../images/bbs_ico_repquote.gif') center left no-repeat;float:left;text-indent:22px;}
.bbs_view_a7 .best{display:block;width:100px;height:35px;line-height:35px;background:url('../images/bbs_ico_best.gif') center left no-repeat;float:left;text-indent:22px;}
.bbs_view_a7 .scrolltop{display:block;height:35px;line-height:35px;background:url('../images/bbs_ico_top.gif') center left no-repeat;float:right;text-indent:20px;}
.bbs_view_a8{padding:5px 0px;}
.bbs_view_a8 .signature{padding:15px 0px; margin-left:10px; background:url('../images/img_signature.gif') no-repeat top left; }

/*发布帖子*/
.bbs_post_title{height:40px;line-height:40px;font-size:14px;color:#333333;font-weight:bold;}

/*操作提示*/
.bbs_msgdiv{background:#FFF;  margin:auto;font-size:14px; text-align:left}
.bbs_msgdiv a:link,.bbs_msgdiv a:visited,.bbs_msgdiv a:active,.bbs_msgdiv a:hover{color:#056AA0;text-decoration:none;}
.bbs_msgdiv table{width:100%;height:200px;}
.bbs_msgdiv .content{height:50px; font-size:14px; }
.bbs_msgdiv .left{width:300px; background:url('../images/bbs_msg_bg.png') no-repeat center center; }
.bbs_msgdiv .right{line-height:200%;}
.msg_newpass{color:green;font-weight:bold;}

/*帖子管理*/
.bbs_postmanager_body{background:#FFF; font-size:13px;}
.bbs_postmanager_table{width:95%;}
.bbs_postmanager_table td{vertical-align:middle;padding:4px 0px;border-bottom:1px dotted #dedede;}
.bbs_postmanager_left{width:40px;text-align:right; font-size:13px;}
.bbs_postmanager_content{}
.bbs_postmanager_noborder td{border-bottom:0px;}
.iscover{color:#999999;}

/**********PopUp (Cover Div)***********/
.coverDiv{position:absolute;left:0px;top:0px;width:1px;height:1px;background-color:#000000;filter:alpha(opacity=10);-moz-opacity:0.10;opacity:0.10;}
.coverDivClear{position:absolute;left:0px;top:0px;width:1px;height:1px;background-color:#000000;filter:alpha(opacity=1);-moz-opacity:0;opacity:0;}
.coverFrame{width:0px;height:0px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.loading{position:absolute;width:100px;height:100px;z-index:500010;background:#cccccc;text-align:center;left:0px;top:0px;}
.loading_inner{background:#ffffff;left:-3px;top:-3px;height:98px;height:98px;position:relative;border:1px solid #c0c0c0;}
#popwin{border:3px solid #6B97C2;padding-bottom:3px;background:#fff;}
.snapdiv_button_close{background-image:url('../images/close.gif');width:14px;height:14px;margin-top:3px;margin-right:7px;float:right;cursor:pointer;}
.snapdiv_loading{width:32px;height:32px;background-repeat:no-repeat;background-image:url('../images/loading.gif');}
.snapdiv_title_div{background:#F5F5F5;padding-top:3px;}
.snapdiv_title{font-size:14px;font-weight:bold;color:#085A99;line-height:22px;text-indent:10px;}
.snapdiv_content{background-color:#FFFFFF;border:5px solid #F5F5F5;padding:8px; overflow:hidden;}
.dialog_content{font-size:14px;line-height:180%;}
.dialog_ico_err{width:48px;height:48px;background-image:url('../images/dialog_icons.gif');background-position:0px 0px;}
.dialog_ico_yes{width:48px;height:48px;background-image:url('../images/dialog_icons.gif');background-position:-50px 0px;}
.dialog_ico_info{width:48px;height:48px;background-image:url('../images/dialog_icons.gif');background-position:-100px 0px;}
.dialog_ico_ask{width:48px;height:48px;background-image:url('../images/dialog_icons.gif');background-position:-150px 0px;}
.dialog_ico_stop{width:48px;height:48px;background-image:url('../images/dialog_icons.gif');background-position:-200px 0px;}
.dialog_table{width:98%;margin:1%;}
.dialog_table_td{width:60px;}
.dialog_content{font-size:14px;color:#000000;line-height:120%;}
.dialog_button{height:30px;text-align:center;clear:both;}
.dialog_button input{margin:0px 3px; padding:2px 3px; font-size:12px;}

/*友情链接*/
.link_top { background:url(../images/link_tog.jpg) no-repeat; height:100%; padding-left:10px; padding-top:40px; width:980px; }
.link_top li { float:left; margin-right:10px;}
.link_content { border:1px solid #DDDDDD; border-top:none; height:10px;}
.link_content ul { margin-left:12px;}
.link_content li { line-height:20px; float:left; margin-right:20px;}
/*底部样式*/
.footer { width: 980px;margin: 0px auto; padding: 16px 0px 20px 0px;text-align: center;clear: both;}
.footer .left{ float:left; width:160px; height:80px; overflow:hidden;line-height:30px;background:url(../images/logo_small.gif) no-repeat;}
.footer .center{ text-align:left; float:left} 
.footer .right{ text-align:left; float:right; width:240px; border-left:1px solid #CCCCCC;height:80px; padding-left:14px;} 
.footer .center p { line-height: 25px;color: #555; font-size:12px;}
.footer .right p { line-height:18px;color: #555; font-size:12px;}
.foot_qq { float:left; width:120px; margin-top:8px;}
.footer a { color: #555;}

.ul_li_1 { margin-top:10px; margin-left:100px;}
.ul_li_1 li {margin-top:20px;}
.kefu_bg { width:980px; height:167px; overflow:hidden; background:url(../images/kefu_bg.jpg); margin-bottom:10px }
.kefu_bg div {
	padding:20px 0 0 30px;
	line-height:40px;
	line-height:40px;
	font-size:18px;
	width:800px;
	color:#333;
	font-family: "微软雅黑";
}

.borrow_box { border:1px solid #FFCC33; width:200px; height:200px; background-color:#FEFBEF; padding:10px; margin-right:15px; line-height:30px; float:left}

.title{color:#015CA7}
.title img{vertical-align:middle; margin-top:-4px}
.view_bor {
    border-bottom: 3px solid #900;
    height: 23px;
}
.view_bor a{
	color:#900
}
